.btnFacebook {
  width: 165px;
  height: 35px;
  border-radius: 4px;
  background: #3b5998;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px,
    rgba(0, 0, 0, 0.24) 0px 0px 1px 0px !important;
  border: 0px transparent;
  margin: 5px;
  text-align: center;
  display: inline-block;
}

.btnGoogle {
  padding-top: 5px !important;
  margin: 5px !important;
  width: 165px !important;
  height: 35px !important;
  border-radius: 4px !important;
  background: #fffdfd !important;
  color: black !important;
  border: 0px transparent !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px,
    rgba(0, 0, 0, 0.24) 0px 0px 1px 0px !important;
  text-align: center !important;
}

.btnGoogle * {
  margin-right: 2px !important;
  margin-left: 4px !important;
  padding: 0 !important;
  margin-bottom: 2px !important;
}
